#first, #first2{
    float: left;
}

#last, #last2{
    float: right;
}

#last::after, #last2::after{
    clear: both;
}

input[type="text"], select, option, input[type="url"] {
    width: 100%;
    height: 60%;
    border: none;
    font-size: var(--fss);
    outline: none;
    padding: 5px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
}

input[type="color"]{
    width: 100%;
    height: 44px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    outline: none;
    border: none;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
}

.descr{
    vertical-align: middle;
}
  
.descr, .input{
    font-size: var(--fss);
    padding-top: 25px;
}

h1{
    font-size: var(--fsm);
    font-weight: bolder;
}

h3{
    font-size: 30px;
    margin-top: 25px;
    border-top: 1px solid white;
    padding-top: 10px;
}

h5{
    font-size: 10px;
    margin-top: 25px;
    border-top: 1px solid white;
}

div.descr, div.input, h1, h2, h3 {
    color: var(--fg);
}

.container-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    place-items: center normal;
}

#backButton {
    position: absolute;
    margin: 85px 0 0 2em;
    left: 0;
    top: 0;
    color: var(--fg);
    border: none;
    cursor: pointer;
    background-color: #00000000;
}
  
#backButton__icon {
    width: 25px;
    height: 25px;
}

body{
    margin-top:45px;
    overflow-x: hidden;
    height: auto!important;
}

#newlink1, #newlink2{
    background-color: var(--accent);
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    outline: none;
    border: none;
    margin-top: 25px;
    font-size: var(--fss);
    cursor: pointer;
}

#newlink1 svg, #newlink2 svg{
    padding-top: 5px;
}

#export{
    background-color: var(--accent);
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    outline: none;
    border: none;
    margin-top: 25px;
    font-size: var(--fss);
    cursor: pointer;
}

#import{
    color: var(--bg);
}

#import::-webkit-file-upload-button {
    visibility: hidden;
}

#import::before {
    content: 'Import File';
    display: inline-block;
    background: var(--accent);
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 8px 16px 8px 0px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: var(--fss);
    margin-top: 25px;
    color: #fff;
}

#importlbl{
    background-color: var(--accent);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    padding: 8px 0px 8px 16px;
    outline: none;
    border: none;
    margin-top: 25px;
    font-size: var(--fss);
    cursor: pointer;
}

#import:hover::before {
    border-color: black;
}

#importlbl svg, #export svg{
    padding-top: 5px;
}

#submit{
    background-color: #2ECC71;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    outline: none;
    border: none;
    margin-top: 25px;
    font-size: var(--fss);
    cursor: pointer;
}

#submit svg{
    padding-top: 5px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #E74C3C;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  .red {
    background-color: #E74C3C!important;
  }

  .green{
    background-color: #2ECC71!important;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
  }
  
  @-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    } 
    to {
        bottom: 30px;
        opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
  }

html{
    scroll-behavior: smooth;
}

.buymeacoffee{
    grid-column-start: 1;
    grid-column-end: 3;
}

.buymeacoffee img{
    border-radius: 10px;
    height: 12.2em;
    font-size: var(--fss);
}